body{
    background-color: cyan;
}
.box{
    background-color: rgb(58, 149, 201);
    height: 200px;
    width: 250px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

    
}
.container{
    display: flex;
    background-color: white;
    justify-content: right;
}
.dot{
    text-align: center;
}